// Configurable variables
params {
    // optional intervals to be further split by width
    // ideally, something like ftp://gsapubftp-anonymous@ftp.broadinstitute.org/bundle/hg38/wgs_calling_regions.hg38.interval_list
    // if this is not provided, intervals will be created from the FASTA index (.fai)
    intervals = false
    // the genomic window size per variant calling job
    width = 100000
    // where to organize the results
    outdir = './results'
    // how to name some of the output files
    project = 'variants'
    // options to send to freebayes
    options = '--pooled-continuous --pooled-discrete --genotype-qualities --report-genotype-likelihood-max --allele-balance-priors-off --min-alternate-fraction 0.03 --min-repeat-entropy 1 --min-alternate-count 2'
}

process {
    time = 24.h
    memory = 8.GB
    cpus = 1
    container = 'brwnj/freebayes:v0.0.3'
    cache = 'lenient'
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    withName: run_freebayes {
        memory = { 8.GB * task.attempt }
        time = { 24.h * task.attempt }
    }
    withName: merge_vcfs {
        memory = { 8.GB * task.attempt }
        cache = 'deep'
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.runOptions = '--bind /scratch'
        singularity.enabled = true
    }
    none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}

manifest {
    name = 'brwnj/freebayes-nf'
    author = 'Joe Brown'
    description = "a better freebayes-parallel"
    version = '0.0.0'
    nextflowVersion = '>=0.32.0'
    homePage = 'https://github.com/brwnj/freebayes-nf'
    mainScript = 'main.nf'
}
